<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>管理页面</title>
    <script src="resource/assets/js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="resource/assets/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="resource/assets/layui/css/layui.css"/>
    <style type="text/css">

    </style>
</head>
<body>

<div class="layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo"><a href="/admin" style="color:#009688;">
            付云佳文章管理后台
        </a>
        </div>

        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item" style=""><a href="manager?method=toHome" target="_blank">去前台</a></li>

            <span class="layui-nav-bar" style="left: 54px; top: 55px; width: 0px; opacity: 0;"></span>
        </ul>

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="manager?method=managerProfile" title="个人中心">
                    <img id="ImgDasplay" src="resource/assets/img/defaultAvatar2.jpeg" class="layui-nav-img">
                    <span id="nameDisplay"></span>
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="manager?method=logout">退出</a>
            </li>
            <span class="layui-nav-bar"></span>
        </ul>
    </div>
    <!--侧边导航栏-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" style="background-color: #282828;">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">文章<span class="layui-nav-more"></span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <div id="articleInsert"><a href="manager?method=managerArticleInsert">写文章</a></div>
                        </dd>
                        <dd>
                            <div><a href="manager?method=managerArticles">我的文章</a></div>
                        </dd>


                    </dl>
                </li>

            </ul>
        </div>

    </div>
    //内容主体
    <div class="layui-body">
        <div id="layui-container" style="padding: 15px;">
            <blockquote class="layui-elem-quote">
						<span class="layui-breadcrumb" lay-separator="/" style="visibility: visible;">
                             <a href="#">首页</a>
                            <a href="#">编辑文章</a>
						</span>
            </blockquote>
            <form class="layui-form"  action="article?method=articleUpdate" method="post" id="myForm">
                <input type="hidden" name="userId" id="userId">
                <input type="hidden" name="articleId" id="articleId">
                <div class="layui-form-item">
                    <label class="layui-form-label">标题 <span style="color: #FF5722; ">*</span></label>
                    <div class="layui-input-block">
                        <input type="text" name="articleTitle" lay-verify="title" id="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">文章内容</label>
                    <div class="layui-input-block">
                        <textarea class="layui-textarea layui-hide" name="articleContent" lay-verify="content" id="content"></textarea>
                    </div>
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">缩略图</label>
                    <div class="layui-input-inline">
                        <div class="layui-upload">
                            <div class="layui-upload-list" style="">
                                <img class="layui-upload-img" id="demo1" width="100" height="100">
                                <p id="demoText"></p>
                            </div>
                            <button type="button" class="layui-btn" id="test1">上传图片</button>
                            <input
                                    class="layui-upload-file" type="file" name="file">
                            <input type="hidden" name="articleThumbnail" id="articleThumbnail">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">分类 <span style="color: #FF5722; ">*</span> </label>
                    <div class="layui-input-inline">
                        <select name="articleCategoryId" id="articleCategoryId">
                            <option value="0" selected="">文章分类</option>
                            <option value="100000009">计算机</option>
                            <option value="100000010">军事</option>
                            <option value="100000011">生活</option>
                            <option value="100000012">体育</option>
                            <option value="100000013">科技</option>
                            <option value="100000014">国际</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">立即修改</button>
                        <button type="button"  class="layui-btn layui-btn-danger" id="cancel">取消</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

<script>
    //上传图片
    layui.use('upload', function () {
        var $ = layui.jquery,
            upload = layui.upload;
        var uploadInst = upload.render({
            elem: '#test1',
            url: 'manager/upload/img',
            before: function (obj) {
                obj.preview(function (index, file, result) {
                    $('#demo1').attr('src', result);
                });
            },
            done: function (res) {
                $("#articleThumbnail").attr("value", res.extend.fileUrl);
                if (res.code == 100) {
                    return layer.msg('上传失败');
                }
            },
            error: function () {
                var demoText = $('#demoText');
                demoText.html('' +
                    '<span style="color: #ff5722;">上传失败</span>' +
                    ' <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });

    });
</script>
<script>



    $(document).ready(function () {
        // 回显用户表单内容。
        echoUserInfo()

        // 回显文章内容
        echoArticleInfo();


    });

    function echoArticleInfo() {
        let URL = window.location.href;
        let articleId = getUrlParams(URL).articleId;
        var  article= getArticleById(articleId);
        var categoryValue = getCategoryIdByArticleId(articleId);
        // 回显文章信息
        echoArticle(article,categoryValue);


    }
    // 回显文章信息
    function echoArticle(article,categoryValue) {
        $("#title").val(article.articleTitle);
        $("#content").text(article.articleContent);
        $("#demo1").attr("src",article.articleThumbnail);
        $("#articleThumbnail").val(article.articleThumbnail);
        var pt = "option[value="+categoryValue+"]";
        $("#articleCategoryId").find(pt).attr("selected",'selected');
        $("#userId").val(article.articleUserId);
        $("#articleId").val(article.articleId);

    }

    // 通过articleId获取文章对象
    function getArticleById(articleId) {
        var article
        $.ajax({
            async: false,
            url: "article?method=getArticleByArticleId&articleId=" + articleId,
            type: "post",
            dataType: "json",
            success: function (result) {

                article = result.extend.article

            }
        });
        return article;
    }

    // 回显用户信息
    function echoUserInfo() {
        $.ajax({
            url: "userServlet?method=getUser",
            type: "POST",
            dataType: "json",
            success: function (result) {
                // 回显菜单栏名字和头像
                $("#nameDisplay").text(result.extend.user.userName);

                $("#ImgDasplay").attr('src', result.extend.user.userAvatar);
                // 用户id回显
                $("#userId").val(result.extend.user.userId);
            }
        });
    }

    // 通过文章Id获取分类id
    function getCategoryIdByArticleId(articleId) {
        var categoryId;
        $.ajax({
            async: false,
            url: "article?method=getCategoryIdByArticleId&articleId=" + articleId,
            type: "post",
            dataType: "json",
            success: function (result) {

                console.log(result);
                categoryId = result.extend.categoryId;

            }
        });
        return categoryId;
    }

    // 获取URL参数
    function getUrlParams(url) {
        let urlStr = url.split('?')[1]
        const urlSearchParams = new URLSearchParams(urlStr)
        const result = Object.fromEntries(urlSearchParams.entries())
        return result
    }

    $("#cancel").click(function () {
        window.history.go(-1);
    });
</script>

<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;


        //上传图片,必须放在 创建一个编辑器前面
        layedit.set({
            uploadImage: {
                url: '/admin/upload/img' //接口url
                ,type: 'post' //默认post
            }
        });

        //创建一个编辑器
        var editIndex = layedit.build('content',{
                height:350,
            }
        );


        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [/(.+){6,12}$/, '密码必须6到12位']
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        layedit.build('content', {
            tool: [
                'strong' //加粗
                ,'italic' //斜体
                ,'underline' //下划线
                ,'del' //删除线
                ,'|' //分割线
                ,'left' //左对齐
                ,'center' //居中对齐
                ,'right' //右对齐
                ,'unlink' //清除链接
                ,'face' //表情
                ,'code'
            ]
        });

        layui.use('code', function(){ //加载code模块
            layui.code();
        });

    });

</script>
</body>

</html>
