
#primary {
    float: left;
    width: 70.4%;
    transition-duration: .5s;
}

#primary.primary {
    width: 100%;
}

.sidebar {
    width: 0;
    display: none;
}

.post, #page .page, .bulletin,
.single-picture .picture, .type-attachment,
.single-tao .tao, .single-video .video {
    position: relative;
    margin: 0 0 10px 0;
    padding: 20px;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border-radius: 2px;
}

@media screen and (max-width: 900px) {
    .post, #page .page, .bulletin,
    .single-picture .picture, .type-attachment,
    .single-tao .tao, .single-video .video {
        margin: 0 0 -1px 0;
    }
    .pagenav-clear {
        margin: 10px 0 0 0;
    }
}

.entry-header h2 {
    margin: 0 0 5px 0;
}

.entry-header h2 a {

    font-size: 16px;
    font-size: 1.6rem;
    line-height: 20px;
    color: aqua;
}

.archive-content {
    color: #777;
    overflow-x: hidden;
}

.title-l {
    position: absolute;
    background: #c40000;
    top: 20px;
    left: -1px;
    width: 5px;
    height: 25px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.entry-more a {
    position: absolute;
    bottom: 18px;
    right: -1px;
    background: #398898;
    color: #fff;
    line-height: 30px;
    padding: 0 12px;
    display: block;
    border-radius: 2px 0 0 2px;
}

.entry-more a:hover {
    background: #3e94a5;
}

.content-more a {
    background: #f40;
    width: 100px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    display: block;
    margin: 0 auto 60px;
    border-radius: 2px;
}

.content-more a:hover {
    color: #fff;
    background: #fc5a20;
}

/** 文章信息 **/
.entry-meta {
    position: absolute;
    bottom: 14px;
    color: #999;
    left: 240px;
}

.format-aside .entry-meta,
.type-bulletin .entry-meta {
    position: inherit;
}

.entry-meta .link-price {
    background: #ff4400;
    font-size: 15px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    margin: 0 5px 0 0;
    padding: 2px 5px;
    border-radius: 2px;
}

.entry-meta a {
    color: #009688;
}

.new-icon, .post-format {
    position: absolute;
    background: #c40000;
    top: -1px;
    right: -1px;
    line-height: 20px;
    color: #fff;
    padding: 0 5px;
    border-radius: 0 2px 0 0;
    animation: fade-in;
    animation-duration: 1.2s;
    -webkit-animation: fade-in 1.2s;
}

.new-icon {
    font-size: 12px;
}

.format-cat {
    float: left;
    background: #c40000;
    margin: 0 10px 0 0;
    filter: alpha(opacity=70);
    background: 0 0 rgba(216, 0, 0, 0.7);
}

.format-cat a, .format-cat a:hover {
    color: #fff;
    line-height: 28px;
    padding: 0 10px;
}
/** 缩略图 **/
.thumbnail {
    position: relative;
    float: left;
    max-width: 200px;
    height: auto;
    clear: both;
    margin: 1px 20px 0 0;
    overflow: hidden;
    transition-duration: .5s;
}

.thumbnail a img {
    float: left;
    /*width: auto;*/
    /*height: auto;*/
    height: 150px;
    width: 200px;
    max-width: 100%;
}

.thumbnail .cat {
    background: #c40000;
    position: absolute;
    top: 0;
    left: 0;
    filter: alpha(opacity=70);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: 0 0 rgba(216, 0, 0, 0.7);
}

.thumbnail .cat a {
    color: #fff;
    line-height: 28px;
    padding: 0 10px;
}

.type-bulletin .thumbnail {
    display: none;
}


/** 图像日志 **/
.format-img {
    max-width: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
}

.format-img img {
    float: left;
    max-width: 100%;
    width: 100%;
    height: auto;
}

.content-image {
    margin: 0 -10px;
}

.format-image {
    padding: 20px;
}

.format-img-cat {
    position: absolute;
    background: #c40000;
    top: 20px;
    left: 20px;
    z-index: 1;
    filter: alpha(opacity=70);
    background: 0 0 rgba(216, 0, 0, 0.7);
}

.format-img-cat a, .format-img-cat a:hover {
    color: #fff;
    line-height: 28px;
    padding: 0 10px;
}

.post-format-title {
    position: absolute;
    bottom: -1px;
    left: 20px;
}

.post-format-title a {
    font-size: 1.2rem;
    color: #666;
    line-height: 0px;
    font-weight: normal;
}

.img-number {
    position: absolute;
    bottom: -2px;
    right: 20px;
    font-size: 1.2rem;
    color: #666;
}

.post-format {
    z-index: 1;
}

.f4 {
    position: relative;
    float: left;
    width: 33.333333333333333333%;
    padding: 0 10px;
    transition-duration: .5s;
}

@media screen and (max-width: 550px) {
    .f4 {
        padding: 0 5px;
    }
}
/** 日志形式 **/
@media screen and (min-width: 901px) {
    .format-aside .archive-content {
        height: 96px;
        overflow: hidden;
    }
}
/** 分类描述 **/
.des-title {
    font-size: 24px;
    font-size: 2.4rem;
    margin: 0 0 5px 0;
}

.cat-des {
    background: #fff;
    font-size: 16px;
    font-size: 1.6rem;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 200%;
    min-height: 150px;
    margin: 0 0 10px 0;
    padding: 20px 30px;
    overflow: hidden;
    border-radius: 2px;
    text-shadow: 1px 2px 0px #000;
}

.no-results .post {
    box-shadow: none;
;
}

.no-results p {
    text-align: center;
}
/** 正文 **/
.entry-header h1 {
    position: relative;
    font-size: 16px;
    font-size: 1.8rem;
    line-height: 30px;
    text-align: center;
    margin: 35px -20px 20px -20px;
    padding: 5px 20px;
    border-left: 5px solid #009688;
    border-right: 5px solid #009688;
}

.header-sub h1 {
    position: absolute;
    background: #c40000;
    display: block;
    left: 0;
    top: 0;
    color: #fff;
    font-size: 18px;
    font-size: 1.8rem;
    padding: 10px 15px;
    max-width: none;
    border-radius: 3px 0 0 0;
    z-index: 2;
    transition-duration: .5s;
    filter: alpha(opacity=70);
    background: rgba(216, 0, 0, 0.7);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#header-img {
    border-radius: 3px;
    transition-duration: .5s;
}

@media screen and (max-width: 600px) {
    #header-img img {
        width: 180%;
        margin: 0 0 0 -50%;
    }
    .header-sub h1 {
        font-size: 16px;
        font-size: 1.6rem;
        padding: 5px 10px;
    }
}

.entry-title-clear {
    margin-bottom: 40px;
}

.single-content {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.8;
}

.single-content a, .single-content a:visited {
    color: #009688;
}

.single-content a:hover {
    color: #40aabf;
}
/** 排版样式 **/
.single-content p,
.single-content ul,
.single-content ol,
.single-content dd,
.single-content pre,
.single-content hr {
    margin: 0 0 5px 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
    word-break: break-all;
    text-justify: inter-ideograph;
}

.single-content em {
    font-style: italic;
}

.single-content code {
    background: #f1f1f1;
    color: #555;
    margin: 0 2px;
    padding: 2px 4px;
    border-radius: 2px;
}

.single-content h2 {
    font-size: 17px;
    font-size: 1.7rem;
    line-height: 190%;
    margin: 10px -21px;
    padding: 0 44px;
    border-left: 5px solid #e40000;
}

.single-content h3 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 190%;
    margin: 2px -21px 10px -21px;
    padding: 0 44px;
    border-left: 5px solid #009688;
}

.single-content h4 {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 280%;
    margin-top: -90px;
    padding: 90px 30px 5px 30px;
}

.single-content .directory {
    float: left;
    height: 30px;
    margin: 8px -21px;
    border-left: 5px solid #009688;
}

.single-content fieldset {
    padding: 5px 15px;
    margin: 0 0 10px 0;
    border: 1px solid #ddd;
}

.single-content legend {
    font-weight: bold;
    padding: 5px;
}

.show-more span {
    color: #009688;
    font-weight: normal;
    padding: 0 10px;
    cursor: pointer;
    text-indent: 0;
}

.show-more span i {
    font-size: 16px;
    padding: 0 5px 0 0;
}

.section-content {
    padding-top: 1px;
    display: none;
}

.single-content p {
    text-indent: 2em;
}

.single-content ul li,
.single-content ol li {
    margin: 0 35px 0 50px;
    line-height: 190%;
}

.single-content ul li {
    list-style: square;
}

.single-content ol li {
    list-style: decimal;
}

.single-content sup {
    bottom: 1ex;
}

.single-content sup, .single-content sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

blockquote {
    width: 100%;
    color: #8b8b8b;
    margin: 0 auto;
    padding: 10px;
    clear: both;
    border: 1px dashed #ddd;
}

.single-content img, .comment-list p img {
    max-width: 100%;
    width: auto\9;
    height: auto;
    vertical-align: middle;
    display: block;
}

.wp-caption {
    background: #f3f3f3;
    max-width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.wp-caption-text {
    text-align: center !important;
}

.gallery .gallery-item {
    box-sizing: border-box;
    float: left;
    margin: 0 !important;
    padding: 6px;
    text-align: center;
}

.gallery .gallery-item img {
    vertical-align: middle;
    border: none !important;
}

.single-content embed {
    float: left;
    width: 100%;
    height: 500px;
    margin-bottom: 30px;
}
